In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import sqlite3
import plotly.express as px
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

# 2. EDA with SQL Analysis

In [ ]:

# Load data
df = pd.read_csv('../sao_paulo_districts.csv')

# Save to SQLite
conn = sqlite3.connect(":memory:")
df.to_sql('districts', conn, index=False, if_exists='replace')

In [ ]:

# Example SQL Query
query = "SELECT District, Rental_Price FROM districts WHERE Rental_Price > 25"
pd.read_sql(query, conn)